.root {
}
#calc-grid {
    -fx-background-color: gray;
}
.calc-tab-style {
    -fx-background-color: gray;
}
.graphing-style {
    -fx-background-color: gray;
}
.graphingGraph {
    -fx-background-color: white;
    -fx-border-color: gray;
}